@media only screen and (max-width: 760px) {
  .spacing {
    height: 2.5vh;
  }
  .spacing-sight-check {
    height: 5vh;
  }
  .l1 {
    display: none;
  }
}

@media only screen and (min-width: 760px) {
  .spacing {
    height: 10vh;
  }
  .spacing-sight-check {
    height: 17.5vh;
  }
}

html {
  overflow-x: hidden;
  background: white;
  color: #212121;
}

nav {
  background-color: #212121;
}

.betternote {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/betternote-block.jpeg");
}

.betternote > * {
  color: white;
}

.dark {
  color: #fff;
  background: #212121;
}

.store-button {
  max-width: 200px;
}

.white-font {
  color: #fff;
}

/* Equal heights == Equal rights? */
.min-height {
  min-height: 556px;
}

/* Spacing between social media buttons*/
.fab {
  margin-right: 8px;
  margin-left: 8px;
}
